@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-instrument-serif: "Instrument Serif", serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}

.instrument {
  font-family: var(--font-instrument-serif);
}
